body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  select,
  input {
    width: calc(100% - 16px); /* Adjusted width to account for padding */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button.buttont {
    width: 31%;
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  .main {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./db066f63-77e1-4ed2-949e-ff74ce55d4d1.jfif');
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: .1;
    pointer-events: none; /* Make sure this doesn't capture mouse events */
    z-index: 2;
  }
  
  button.buttont:hover {
    background-color: #45a049;
  }
  button.logoutt {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px; /* Adjust the margin based on your layout */
    margin-right: 10px; /* Adjust the margin based on your layout */
    padding: 10px 15px;
    background-color: #ff0000; /* Choose a color for your button */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button.logoutt:hover {
    background-color: #cc0000; /* Change the color on hover */
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    position: relative; /* Ensure form is positioned relative to the container */
    z-index: 1; /* Ensure form is above other elements */
  }
  
  div {
    margin-bottom: 10px;
  }
  
  h3 {
    color: #333;
  }
  
  hr {
    border: 1px solid #ccc;
  }
  
  h4 {
    text-align: center;
    color: #555;
  }
  

  
  .me1 {
    display: flex;
    align-items: center;
  }
  
  .me1 input { /* Adjust the vertical alignment */
    margin:0px;
    padding-top: 5px;
  }
  
  
  .me1 input,label {
    width: 175%;
    
  }     
  

  