    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "poppins", sans-serif;
    }
  
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #caf0f8;
    }
  
    form {
        width: 420px;
        background: #48cae4;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 30px 40px;
    }
  
    #login {
        font-size: 36px;
        text-align: center;
        line-height: 1.2; /* Adjusted line-height */
        margin-bottom: 30px;
    }
  
    .label {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
  
    .label label {
        flex: 0 0 120px;
        padding-right: 20px;
    }

 
    .label input {
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 40px;
        font-size: 16px;
        color: white;
        padding: 20px 45px 20px 20px;
        margin-bottom: 38px;
    }
   .font{
    font-size: 25px;
   } 
    .label input::placeholder {
        color: white;
    }
  
    .button-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
  
    .button {
        width: 48%;
        height: 45px;
        background: white;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        text-align: center;
        line-height: 1.2;
    }
